.like-icon-div {
  position: relative;
  width: 50px;
  margin: auto;
}
.like-icon-div span {
  position: absolute;
  top: -15px;
  right: 0;
}

@media screen and (max-width: 600px) {
  .like-icon-div span {
    position: absolute;
    top: -15px;
    right: 0;
  }
}
