/* Grid styles for topic list and author topics */
.grid-container {
  width: 100%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: space-evenly;
}

.grid-item {
  padding: 10px;
  text-align: center;
}

.card {
  max-width: 300px;
  max-height: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-body {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.grid-container a {
  text-decoration: none;
  color: #333;
}

.grid-container h1 {
  font-size: 20px;
}
.grid-container h2 {
  font-size: 18px;
}

/*--------------
 Mobile responsive
 Media Queries
---------------*/

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .grid-item {
    width: 100%;
    height: auto;
  }

  .card {
    width: 330px;
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
