.topic-detail-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-top: 50px;
}

.author-grid-item {
  padding: 10px;
  margin-top: 75px;
}

.topic.grid-item {
  grid-column-start: 3;
  grid-column-end: 4;
}

.like-grid-item {
  padding: 10px;
  margin-top: 75px;
}

.topic-grid-item h1 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.topic-img-container {
  max-width: 800px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.topic-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.markdown-description {
  padding: 10px;
  text-align: start;
}

.read-more-paragraph {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .topic-detail-grid-container {
    grid-template-columns: auto;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
  }
  .author-grid-item,
  .like-grid-item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 650px) {
  .markdown-description {
    padding: 0;
  }

  .read-more-paragraph {
    padding: 0;
  }
}
