/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #fff;
}
h1 {
  font-size: 40px;
  font-weight: 800;
}
h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}
h3 {
  font-size: 30px;
  font-weight: 400;
}
h4 {
  font-size: 25px;
  font-weight: 300;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px 0 5px 0;
}
pre {
  background: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: auto;
  tab-size: 1.5em;
  padding: 10px;
}
pre code {
  margin: 1rem;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  height: auto !important;
}
code {
  line-height: 2rem;
}

.alert.alert-danger {
  width: 100%;
  padding: 10px;
  color: rgb(235, 65, 65);
  background-color: rgb(245, 175, 175);
  margin-bottom: 10px;
  border-radius: 5px;
}

/*-----------
  Footer 
-------------*/
.footer {
  position: relative;
  width: 100% !important;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: #333;
  margin: 40px 0 0 0 !important;
}
.footer-div {
  width: 65%;
  margin: 0 auto;
}
.logo a {
  float: left;
  text-decoration: none;
  color: rgb(128, 126, 126);
  margin: 0 auto;
  padding: 35px;
  text-align: center;
}
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
.footer ul {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.footer ul li {
  display: block;
  float: right;
  padding: 14px 16px;
  margin: 0 auto;
  text-align: center;
}
.footer ul li a {
  color: rgb(128, 126, 126);
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}
/*--------------
 Media Queries
---------------*/
@media only screen and (max-width: 500px) {
  #footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 900px) {
  .card {
    margin: 0 auto;
  }
  .jumbotron {
    padding: 10px;
  }
  .logo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .logo a {
    text-decoration: none !important;
    color: #555;
    padding: 5px;
  }
  .author-wrapper {
    margin-bottom: 30px;
  }
  .footer {
    width: 100% !important;
    height: auto;
  }
  .footer-links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .footer-links ul li {
    float: none;
  }
  .footer ul {
    padding: 10px;
  }
}
